<!-- FOOTER -->
<footer>

    <div class="futer">
        <div class="img-logr">
            <img src="./assets/LOGO-SIN-FONDO-BLANCO.png" alt="" id="imgg">
        </div>
        <div class="us-footer">
            <h1>Nosotros</h1>
            <h2>Somos un espacio creado por y para verdaderos
                fanáticos de la cultura otaku. Aquí encontrarás una
                cuidadosa selección de productos que reflejan tu pasión
                por el anime, Marvel, DC y más.</h2>
        </div>
        <div class="contactanos">
            <h1>Contáctanos</h1>
            <h2>*** (+51) 987 654 321</h2>
            <h2>** Lima - Perú</h2>
            <h2>** fidyuapongmail.com</h2>
        </div>
        <div class="redes">
            <h1>Síguenos</h1>
            <div class="rsocial">
                <a href="https://www.facebook.com/profile.php?id=100083157287421" target="_blank"
                    rel="noopener noreferrer">
                    <img src="./assets/fb.png" alt="">
                </a>
                <a href="https://www.instagram.com/fidyuapon?utm_source=ig_web_button_share_sheet&igsh=aWw5dzY4bGdobWRp"
                    target="_blank" rel="noopener noreferrer"><img src="./assets/ig.png" alt=""></a>
                <a href="https://www.tiktok.com/@fidyuapon?_t=8mUuBXabDXR&_r=1" target="_blank"
                    rel="noopener noreferrer">
                    <img src="./assets/tiktok.png" alt=""></a>
            </div>
            <h1>Métodos de pago</h1>
            <div class="rsocial">
                <img src="./assets/intbk.jpg" alt="">
                <img src="./assets/bcp.jpg" alt="">
                <img src="./assets/scotiabank.png" alt="">
                <img src="./assets/yape.png" alt="">
                <img src="./assets/plin.png" alt="">
            </div>
        </div>
    </div>
    <div class="derechos">
        <h1>© 2025 FIDYUAPON. Todos los derechos reservados.</h1>
    </div>
</footer>