<div class="fyp-big">
    <img src="./assets/FYD-QS.png" alt="">
    <p>En FIDYUAPON vivimos y respiramos la pasión por el anime, los
        cómics y todo lo que hace vibrar a un verdadero fan. Somos un espacio
        creado por y para amantes de la cultura otaku, donde cada figura
        y producto ha sido elegido con dedicación para que conectes con tus
        personajes favoritos. Ya se del mundo del anime, Marvel, DC o más,
        aquí encontrarás mucho más que coleccionables. Encontrarás una
        comunidad que comparte tu pasión.</p>
</div>
<div class="encuentranos">
    <h1>ENCUENTRANOS EN</h1>
    <div class="feria">
        <div class="info">
            <img src="./assets/feriaColeccionista.png" alt="">
            <h2>RECOGE TU PEDIDO EN EL STAND 6F</h2>
            <h2>Todos los sábados de 12:00pm a 6:00pm</h2>
        </div>
        <div class="mapa-feria">
            <div id="map"></div>
            <h2 style="margin-block-start: 0; ">Av. Miguel Grau 122, La Victoria 15033</h2>
        </div>
    </div>
    <div class="magda">
        <div class="mapa-magda">
            <div id="map"></div>
            <h2 style="margin-block-start: 0;margin-block-end: 0.83em;">Jirón José Gálvez 589, Magdalena del Mar 15086
            </h2>
        </div>
        <div class="dibujito">
            <div class="globo">
                <img src="./assets/globo.png" alt="" class="globo-img">
                <div class="texto-globo">
                    también puedes recogerlo en el mercado magdalera, tienda #000 🐾
                </div>
            </div>
            <img src="./assets/sailor-sentadita.png" alt="" class="perrito">
        </div>
    </div>
</div>
<div class="buscas">
    <div class="info-buscas">
        <h1 style="color:#000000;margin: 0;">¿BUSCAS ALGO EN</h1>
        <h1 style="padding-top:0px; margin: 0;">ESPECIAL?</h1>
        <h2>¡Escríbenos a cualquiera de nuestras redes sociales y cuéntanos cuál figura desea!
            Nosotros nos encargamos de buscarla, cotizarla y traértela. Te informaremos del precio
            y la fecha estimada de llegada. (3meses aprox.)
        </h2>
        <img src="./assets/shalom.png" alt="">
    </div>
    <div class="nuestras-redes">
        <h1 style="color:#000000; font-size: 35px;">Nuestras Redes</h1>
        <div class="redes">
            <img src="./assets/fb-color.png" alt="" class="logo-redes">
            <img src="./assets/ig-color.png" alt="" class="logo-redes">
            <img src="./assets/tiktok-color.png" alt="" class="logo-redes">
            <img src="./assets/wsp-color.png" alt="" class="logo-redes">
        </div>
        <img src="./assets/gato-entrenador.png" alt="" class="gato-entrenador">
    </div>
</div>
<div class="anuncio2">
    <img src="./assets/anuncio-2.png" alt="">
</div>