<div class="cuerpote">
    <div class="slider-container" (click)="resetInterval()">
        <div class="slider" [style.transform]="getSliderTransform()">
            <div class="slide" *ngFor="let imagen of images">
                <a [routerLink]="['/catalogo']">
                    <picture>
                        <source [srcset]="imagen.mobile" media="(max-width: 1040px)" />
                        <img [src]="imagen.desktop" alt="slide">
                    </picture>
                </a>
            </div>
        </div>
        <div class="button">
            <button (click)="prevSlide()">&#10094;</button>
            <button (click)="nextSlide()">&#10095;</button>
        </div>

        <div class="dots-container">
            <div class="dot" *ngFor="let img of images; let i = index" [class.active]="i === currentIndex"
                (click)="goToSlide(i)"></div>
        </div>
    </div>
    <!-- QUE ESTAS BUSCANDO -->
    <section class="seccion-figu">
        <h1>¿Qué estas buscando?</h1>
        <div class="seccion-buscando">
            <div class="figu-1">
                <img src="/assets/productos/deku-sinfondo.png" alt="Figura de Deku My Hero Academia" class="figu-figu"
                    style="left: -80px;">
                <div class="info-figu">
                    <h2>Figuras de Colección</h2>
                    <p>desde</p>
                    <h2>S/60.00</h2>
                    <a [routerLink]="['/catalogo']">> Ver más</a>
                </div>
            </div>
            <div class="figu-1">
                <img src="./assets/productos/posters.png" alt="" class="figu-figu" style="left: -70px;">
                <div class="info-figu">
                    <h2>Posters y cuadros</h2>
                    <p>desde</p>
                    <h2>S/10.00</h2>
                    <a [routerLink]="['/catalogo']"
                        [queryParams]="{ tipo: 'franquicia', nombre: 'Yu-Gi-Oh!', linea: 'Posters y cuadros' }">> Ver
                        más</a>
                </div>
            </div>
            <div class="figu-1">
                <img src="assets/productos/acrilicos.png" alt="" class="figu-figu" style="left: -60px;">
                <div class="info-figu">
                    <h2>Acrílicos</h2>
                    <p>desde</p>
                    <h2>S/10.00</h2>
                    <a [routerLink]="['/catalogo']"
                        [queryParams]="{ tipo: 'franquicia', nombre: 'Dragon Ball', linea: 'Acrilicos' }">> Ver más</a>
                </div>
            </div>
            <div class="figu-1">
                <img src="./assets/productos/pikachu.png" alt="" class="figu-figu" style="left: -60px;">
                <div class="info-figu">
                    <h2>Peluches</h2>
                    <p>desde</p>
                    <h2>S/40.00</h2>
                    <a [routerLink]="['/catalogo']"
                        [queryParams]="{ tipo: 'franquicia', nombre: 'Pokemon', linea: 'Peluches' }">> Ver más</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ANUNCIO -->
    <div class="anuncioo">
        <h1>Dale un vistazo!</h1>
        <div class="anunci">
            <div class="card" id="preventaa">
                <a [routerLink]="['/revista']" fragment="preventa"><img src="./assets/prepre.png" alt=""></a>
                <a [routerLink]="['/revista']">
                    <p>Antes que se acabe!</p>
                </a>
            </div>
            <div class="card" id="mikus">
                <a [routerLink]="['/catalogo']" [queryParams]="{ tipo: 'franquicia', nombre: 'Hatsune Miku' }"><img
                        src="./assets/mikus.png" alt=""></a>
                <a [routerLink]="['/catalogo']">
                    <p>Tenemos variedades!</p>
                </a>
            </div>
            <div class="card" id="novedades">
                <a [routerLink]="['/revista']" fragment="novedades"><img src="./assets/rllegados.png" alt=""></a>
                <a [routerLink]="['/revista']">
                    <p>Rápido! antes que se acaben</p>
                </a>
            </div>
        </div>
    </div>
    <!-- SLIDERS -->
    <!-- FRANQUICIA -->
    <!-- SLIDER DE FRANQUICIAS -->
    <section class="slider-logos">
        <div class="titulo-sliders">
            <h1> FRANQUICIAS</h1>
        </div>
        <div class="slider-track">
            <div class="logos-slide" *ngFor="let franquicia of franquicias.concat(franquicias)">
                <img [src]="franquicia.logo?.url" [alt]="franquicia.nombre" />
            </div>
        </div>
    </section>
    <!-- SLIDER DE MARCAS -->
    <section class="slider-logos">
        <div class="titulo-sliders">
            <h1> MARCAS</h1>
        </div>
        <div class="slider-track">
            <div class="logos-slide" *ngFor="let marca of marcas.concat(marcas)">
                <img [src]="marca.logo?.url" [alt]="marca.nombre" />
            </div>
        </div>
    </section>
    <!-- NOSOTROS -->
    <div class="nosotros">
        <div class="wasa">
            <h1>¿Algo en especial?</h1>
            <img src="./assets/tabatawasa.png" alt="">
            <h2>Comunicate con nosotros!</h2>
        </div>
        <div class="quienes-somos">
            <h1>¿QUIENES SOMOS?</h1>
            <img src="./assets/FIDYUAPON-BLANCO.png" alt="" class="logofyp">
            <img src="./assets/gogetabroly.png" alt="" class="gogetabroly">
            <p>En FIDYUAPON somos un espacio creado por fans para fans, donde encontrarás figuras y productos de
                anime, Marvel, DC y más, seleccionados con pasión para conectar con tus personajes favoritos y ser
                parte de una comunidad que comparte tu amor por la esta cultura.
                <br> <br>
                <button class="btn-qs" [routerLink]="['/quienes-somos']"> Conocenos más </button>
            </p>
        </div>
    </div>
    <!-- ENTREGAS -->
    <div class="entregas">
        <div class="feria">
            <h1 style="color: #222dfb;">ENTREGAS EN:</h1>
            <img src="./assets/feriaColeccionista.png" alt="">
            <h2>Todos los sábados 12:00pm a 6:00pm</h2>
        </div>
        <!-- inicio.component.html -->
        <div id="mapa"></div>
    </div>
</div>
<!-- ANUNCIO -->
<div class="gaa">
    <img src="./assets/anuncio.png" alt="" style="padding: 0;">
</div>